* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* reset styles */
ul,
ol {
  list-style: none;
}
/* root styles */
:root {
  --default_gray: #f7f5f3;
  --primaryColor: #1daa61;
  --defaultBorder: 1px solid gainsboro;
}

/* container */
#container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}

/* navigationBar styles */
#navigationBar {
  width: 70px;
  padding: 10px;
  background-color: var(--default_gray);
  border-right: var(--defaultBorder);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#navigationBar .navigationBarTop {
  text-align: center;
}
#navigationBar .navigationBarTop ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#navigationBar .navigationBarTop ul li {
  width: 100%;
}
.navIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.navIcon:hover {
  background-color: gainsboro;
}
#navigationBar .navigationBarTop .active {
  background-color: gainsboro;
}
.accountProfileImage {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}
/* chatList styles */
#chatList {
  padding: 10px;
  width: 30%;
  max-width: 30%;
}

/* extendedChat styles */
#extendedChat {
  flex: 1;
}
