* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* reset styles */
ul,
ol {
  list-style: none;
}
/* root styles */
:root {
  --default_gray: #f7f5f3;
  --primaryColor: #1daa61;
  --defaultBorder: 1px solid gainsboro;
  --secondaryColor: #c3ffbe;
}

/* container */
#container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}

/* navigationBar styles */
#navigationBar {
  width: 70px;
  padding: 10px;
  background-color: var(--default_gray);
  border-right: var(--defaultBorder);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#navigationBar .navigationBarTop {
  text-align: center;
}
#navigationBar .navigationBarTop ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#navigationBar .navigationBarTop ul li {
  width: 100%;
}
.navIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.navIcon:hover {
  background-color: gainsboro;
}
#navigationBar .navigationBarTop .active {
  background-color: gainsboro;
}
.accountProfileImage {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}
/* chatList styles */
#chatList {
  padding: 10px;
  width: 30%;
  max-width: 30%;
  border-right: var(--defaultBorder);
}
#chatList .chatListTop {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#chatList .chatListTopHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chatList .chatListTopHeader ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
#chatList .chatListTopHeader .companyName {
  font-size: 20px;
  color: #1daa61;
  font-weight: bold;
}
#searchBox {
  width: 100%;
  position: relative;
}
#searchBox input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: var(--default_gray);
  padding: 5px;
  border-radius: 50px;
  font-size: 14px;
  padding-left: 40px;
}
#searchBox input:focus {
  outline: 2px solid var(--primaryColor);
  background-color: white;
}
#searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: gray;
}
#chatList #tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tabsBtn {
  background-color: white;
  border: var(--defaultBorder);
  border-radius: 15px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
  transition: all 0.3s;
}
.tabsBtn:hover {
  background-color: var(--default_gray);
}
#tabs .active {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}
/* extendedChat styles */
#extendedChat {
  flex: 1;
}
