* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* reset styles */
ul,
ol {
  list-style: none;
}
/* root styles */
:root {
  --default_gray: #f7f5f3;
  --primaryColor: #1daa61;
  --defaultBorder: 1px solid gainsboro;
  --secondaryColor: #c3ffbe;
}

/* container */
#container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}

/* navigationBar styles */
#navigationBar {
  width: 70px;
  padding: 10px;
  background-color: var(--default_gray);
  border-right: var(--defaultBorder);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#navigationBar .navigationBarTop {
  text-align: center;
}
#navigationBar .navigationBarTop ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#navigationBar .navigationBarTop ul li {
  width: 100%;
}
.navIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.navIcon:hover {
  background-color: gainsboro;
}
#navigationBar .navigationBarTop .active {
  background-color: gainsboro;
}
.accountProfileImage {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}
/* chatList styles */
#chatList {
  padding: 10px;
  width: 30%;
  max-width: 30%;
  border-right: var(--defaultBorder);
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 0px;
}
#chatList .chatListTop {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}
#chatList .chatListTopHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chatList .chatListTopHeader ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
#chatList .chatListTopHeader .companyName {
  font-size: 24px;
  color: black;
  font-weight: bold;
  padding-top: 5px;
}
#searchBox {
  width: 100%;
  position: relative;
}
#searchBox input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: var(--default_gray);
  padding: 5px;
  border-radius: 50px;
  font-size: 14px;
  padding-left: 40px;
}
#searchBox input:focus {
  outline: 2px solid var(--primaryColor);
  background-color: white;
}
#searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: gray;
}
#chatList #tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.tabsBtn {
  background-color: white;
  border: var(--defaultBorder);
  border-radius: 15px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
  transition: all 0.3s;
}
.tabsBtn:hover {
  background-color: var(--default_gray);
}
#tabs .active {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}
#chatList .chats {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}
#chatList .chats .singleChat {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s;
}
#chatList .chats .singleChat:hover {
  background-color: var(--default_gray);
}
#chatList .chats .singleChat .singleChatSummary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#chatList .chats .singleChat img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
#chatList .chats .singleChat .singleChatSummaryTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chatList .chats .singleChat .singleChatSummaryTop .time {
  font-size: 14px;
  color: gray;
}
#chatList .chats .singleChat .singleChatSummary .desc {
  font-size: 13px;
}
.chats .active {
  background-color: var(--default_gray);
}
/* extendedChat styles */
.conversations {
  padding-bottom: 50px;
}
#extendedChat {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#extendedChat .extendedChatTop {
  padding: 10px 15px;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
  border-bottom: var(--defaultBorder);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#extendedChat .extendedChatTop .extendedChatTopLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}
#extendedChat .extendedChatTop .extendedChatTopLeft .desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#extendedChat .extendedChatTop .extendedChatTopLeft .desc .name {
  font-size: 17px;
}
#extendedChat .extendedChatTop .extendedChatTopLeft .desc .status {
  font-size: 13px;
  color: #555;
}
#extendedChat .extendedChatTop .extendedChatTopLeft .extendedChatTopLeftImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
#extendedChat .extendedChatTop .extendedChatTopRight ul {
  display: flex;
  align-items: center;
}
#extendedChat .extendedChatBody {
  flex: 1;
  width: 100%;
  padding: 10px 50px;
  overflow-y: auto;
  background: white;
  background-position: center;
  background-size: contain;
  position: relative;
  min-height: 90vh;
}
#extendedChat .extendedChatBody .writingField {
  width: 90%;
  margin: 0 auto;
  position: sticky;
  right: 0;
  bottom: 0px;
  background-color: white;
  border-radius: 50px;
  height: 55px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#extendedChat .extendedChatBody .writingField #message {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
}
#extendedChat .extendedChatBody .messageBox {
  width: 100%;
  font-size: 14px;
}
#extendedChat .extendedChatBody .messageBox .senderMessage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}
#extendedChat .extendedChatBody .messageBox .senderMessageContent {
  max-width: 50%;
  background-color: gainsboro;
  padding: 5px;
  border-radius: 5px;
}

#extendedChat .extendedChatBody .messageBox .ownMessage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
}
#extendedChat .extendedChatBody .messageBox .ownMessageContent {
  max-width: 50%;
  background-color: var(--secondaryColor);
  padding: 5px;
  border-radius: 5px;
}
#extendedChat .extendedChatBody .senderMessageContent .time,
#extendedChat .extendedChatBody .ownMessageContent .time {
  font-size: 12px;
  color: gray;
  min-width: 60px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 100%;
  margin-top: 5px;
}
.overlay {
  background-color: var(--default_gray);
  padding: 5px;
  border-left: 2px solid var(--primaryColor);
  font-style: italic;
  margin-bottom: -5px;
}
/* custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gainsboro;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
